.button {
    background-color: #222;
    color: #FFF;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.button:hover {
    color: #ec8600;
}