.message {
    width: 50%;
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}

.success {
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6CB;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}