.ul {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0.7em;
  width: 100%;
  min-width: 535px;
  background-color: #353b42;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ul img{
    background-color: white;
    border-radius: 0px 50px 50px 50px;
}


.li {
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.a {
  display: block;
  font-size: 18px;
  padding: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  letter-spacing: .2em;
  text-decoration: none;
  transition: color 200ms;
  transform-style: preserve-3d;
  cursor: pointer;
}
.a:hover {
  color: #343e48;
}
.a:after {
  content: attr(data-title);
  position: absolute;
  display: block;
  text-shadow: none;
  top: 29%;
  left: 18px;
  padding: 5px 7px;
  color: transparent;
  background: #4795c3;
  transform-origin: 50% 0%;
  backface-visibility: hidden;
  transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
  transform-style: preserve-3d;
  transition: all 200ms ease;
  z-index: -1;
}
.li:nth-child(2) a:after {
  background: #ecc64b;
}
.li:nth-child(3) a:after {
  background: #0b9ea6;
}
.li:nth-child(4) a:after {
  background: #f26667;
}
.li:nth-child(5) a:after {
    background: #0eaa16;
  }
.a:hover:after {
  transform: rotateX(0deg) translateZ(0px);
}